<a href="https://colab.research.google.com/github/awarbler/CSE450Team02/blob/main/starter_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')

In [ ]:
campaign[['day_of_week','y']].head()

  day_of_week   y
0         mon  no
1         mon  no
2         mon  no
3         mon  no
4         mon  no

In [ ]:
yes = campaign[campaign['y']=='yes']
yes['day_of_week'].value_counts()

thu    958
wed    865
tue    857
fri    767
mon    761
Name: day_of_week, dtype: int64

In [ ]:
campaign.replace({'no:0', 'yes:1'}, inplace=True)

In [ ]:
import altair as alt
day = campaign.groupby(["day_of_week","y"])["day_of_week"].count()
day.head(15)

day_of_week  y
fri          no     6269
             yes     767
mon          no     6896
             yes     761
thu          no     6784
             yes     958
tue          no     6430
             yes     857
wed          no     6482
             yes     865
Name: day_of_week, dtype: int64

In [2]:
print("Uhuu now you see me ?")

Uhuu now you see me ?